f/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); } */



html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-family: "adobe-garamond-pro", Georgia, serif;
    font-size: 18px;
    line-height: 1.2em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    display: none;
    
}




/* ==============
    MOBILE: Main
   ============== */

/* .main {
    padding: 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

*/

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.logo {
    position: fixed;
    left: 20px;
    top: 15px;
    z-index: 100;
    width: 40px;
    height: 40px;

}


h1 {
    font-size: 1.6em;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2em;
}

h3 {
    font-size: .8em;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #0088ff;
}

blockquote {
    text-align: center;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 300;
    color: #fff;
    width: 100%;
}

blockquote footer {
    font-size: .8em;
}

.title {
    margin: 0 auto;
    width: 90%;
}

.title h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    line-height: 1.4em;
    font-size: 1.6em;
    color: #fff;
}

.title h1 span {
    font-size: .4em;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    margin: 0;
}

.text-wrapper {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.text-wrapper p {
    font-family: "adobe-garamond-pro", Georgia, serif;
    font-size: 1em;
}


#section0 {
    background-image: url('../img/slide0_1.jpg');
    background-size: cover;
    background-position: right top;
    text-align: center;
    color: #fff;
}

/* SECTION 1 */

#section1 {
    background-image: url('../img/slide1_1.jpg');
    background-size: cover;
    color: #fff;
}


/* SECTION 2 */

#section2 {
    background-color: #dcdcdc !important;
    color: #333;
}

#section2 .text-wrapper {
    margin-top: 180px;
    margin-bottom: 500px;
}

#section2 .text-wrapper p{
    font-size: 1.4em;
    line-height: 1.4em;
}

.signoff {
    width: 90%;
}

.richard {
    display: inline;
    float: right;
}

.hunter {
    display: inline;
    float: left;
}

/* SECTION 3 */

#section3 {
    background: #333;
    color: #fff;
}

#section3 h1 {
    line-height: 1.2em;
    text-align: center;
}

#section3 #slide1 {
    text-align: center;
}

#section3 #slide1 h1 {
    font-size: 2.4em;
}

#section3 #slide1 h1 span {
    text-transform: uppercase;
    font-weight: 300;
}

#section3 .text-wrapper {
    text-align: center;
}

/* SECTION 4 */

#section4 {
    background-color: #dcdcdc;
    color: #333;
}

.pillars {
    margin-top: 20px;
    height: 130px;
    line-height: 1.2em;
    font-size: 1.2em;
}

#pillar1  {
    background: #a42227;
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    width: 42%;
    height: 130px;
    border-top: 2px solid #a42227;
}

#pillar2  {
    background: #abcb15;
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 4%;
    width: 42%;
    height: 130px;
    border-top: 2px solid #abcb15;
}

#pillar3  {
    background: #0088ff;
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 20px;
    width: 42%;
    height: 130px;
    border-top: 2px solid #0088ff;
}

#pillar4  {
    background: #53cad1;
    color: #fff;
    float: left;
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 20px;
    margin-left: 4%;
    width: 42%;
    height: 130px;
    border-top: 2px solid #53cad1;
}

#section4 .slide a{
    font-family: 'brandon-grotesque', Arial, sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
}

#section4 #slide2 {
    background-image: url('../img/pillar1.jpg');
    color: #fff;
}

#section4 #slide2 a {
    color: #e5545a;
}

#section4 #slide3 {
    background-image: url('../img/pillar2.jpg');
    color: #333;
}

#section4 #slide3 a {
    color: #e7ff76;
}

#section4 #slide4 {
    background-image: url('../img/pillar3.jpg');
    color: #fff;
}

#section4 #slide4 a {
    color: #a6d5ff;
}

#section4 #slide5 {
    background-image: url('../img/pillar4.jpg');
    color: #fff;
}

#section4 #slide5 a {
    color: #c0f7fa;
}



/* SECTION 5 */

#section5 {
    background-image: url('../img/slide5_1.jpg');
    background-size: cover;
}

#section5 h1 {
    color: #fff;
}

#section5 h1 span {
    font-weight: 300;
    text-transform: uppercase;
}

#section5 .slide p {
    color: #fff;
}

#section5 #slide1 h1 {
    text-align: center;
    font-size: 2.4em
}

#section5 .slide a{
    font-family: 'brandon-grotesque', Arial, sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    color: #fff;
}

#section5 #slide2 {
    background-image: url('../img/slide5_2.jpg');
    background-size: cover;
}

#section5 #slide3 {
    background-image: url('../img/slide5_3.jpg');
    background-size: cover;
}

#section5 #slide4 {
    background-image: url('../img/slide5_4.jpg');
    background-size: cover;
}

#section5 #slide5 {
    background-image: url('../img/slide5_5.jpg');
    background-size: cover;
}

/* SECTION 6 */

#section6 {
    background: #222;
    overflow: hidden;
}

#section6 #slide1 .text-wrapper {
    position: absolute;
    left: 25%;
    text-align: center;
    height: 100%;
    z-index: 100;
}

#section6 #slide1 h1 {
    margin-top: 140px;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #fff;
    
}

#legend {
    position: absolute;
    bottom: 70px;
    left: 32%;
    width: 100%;
    height: 16px;
    color: #fff;
}

#legend p {
    float: left;
    margin-left: 15px;
    font-size: .8em;
    line-height: 0px;

}

#countries::before {
    content: "\25a0";
    font-size: 32px;
    color: #0088ff;
}

#cases::before {
    content: "\25cf";
    font-size: 28px;
    color: #fff200;
}

.square {
    position: relative;
    background: #0088ff;
    left: -10px;
    width: 18px;
    height: 18px;
    top: 22px;

}

.circle {
    position: relative;
    background: #fff200;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    z-index: 0;
    left: 145px;
    top: 6px;
    
}

#section6 h1 span {
    font-weight: 300;
}

#worldmap {
    position: relative;
    
}

#section6 #slide2 {
    background: #0088ff;
    color: #fff;

}

#section6 #slide3 {
    background-image: url('../img/slide6_washington.jpg');
    background-size: cover;
    color: #fff;

}

#section6 #slide4 {
    background-image: url('../img/slide6_nairobi.jpg');
    background-size: cover;
    color: 333;

}

#section6 #slide5 {
    background-image: url('../img/slide6_kenya.jpg');
    background-size: cover;
    color: #fff;
}

#section6 #slide6 {
    background-image: url('../img/slide6_portland.jpg');
    background-size: cover;
    color: #fff;

}

#section6 #slide7 {
    background-image: url('../img/slide6_ruralkenya.jpg');
    background-size: cover;

}

#section6 #slide8 {
    background-image: url('../img/slide6_mali.jpg');
    background-size: cover;

}

#section6 #slide9 {
    background-image: url('../img/slide6_philippines.jpg');
    background-size: cover;
    color: 333;

}

#section6 #slide10 {
    background-image: url('../img/slide6_lebanon.jpg');
    background-size: cover;

}

#section6 #slide11 {
    background-image: url('../img/slide6_cambodia.jpg');
    background-size: cover;
    color: #fff;

}

#section6 #slide12 {
    background-image: url('../img/slide6_rwanda.jpg');
    background-size: cover;

}



/* SECTION 7 */

#section7 {
    background-image: url('../img/slide9_1.jpg');
    background-size: cover;
    color: #fff;
}

#section7 .slide a{
    font-family: 'brandon-grotesque', Arial, sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    color: #fff;
}


/* SECTION 8 */

#section8 {
    background-image: url('../img/financial.jpg');
    background-repeat: repeat-xy,;
}

#section8 h1 {

    color: #fff;
}

/* SECTION 9 */

#section9 {
    background: #e0e0e0;
}

#section9 .text-wrapper {
    margin-top: 180px;
    margin-bottom: 400px;
    color: #333;
    font-size: 1.2em;
    line-height: 1.6em;
}

#section9 li {
    list-style-type: none;
}

/* SECTION 10 */

#section10 {
    background-image: url('../img/thankyou.jpg');
    background-size: cover;
    color: #fff;
}

#section10 h1 {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: #fff;
}


.photo-atr {
    position: absolute;
    bottom: 0px;
    font-size: .7em;
    opacity: .5;
}

.dark {
    color: #333;
}

.light {
    color: #fff;
}


/* TABLES */

table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #e0e0e0;
  padding: .5em 1em;
}

table.display th{ background: #0088ff; }
table.display td{ background: #fff; }

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

th {
  color: #fff;
}

@media (max-width: 30em){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table td:nth-child(1):before{
    content: 'Expense';
  }
  table.responsive-table td:nth-child(2):before{
    content: '2013:';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before{
    position: absolute;
    left: .5em;
    
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    #menu {
        position: fixed;
        right: 0px;
        width: 360px;
        font-family: 'brandon-grotesque', Arial, sans-serif;
        font-weight: 300;
}

    .logo {
        width: 70px;
        height: 70px;
}


    nav ul {
        display: inline;
        margin: 0;
        padding: 0;
}

    nav a {
        float: left;
        display: inline;
        padding: 15px 12px;
        text-decoration: none;
        font-weight: bold;
        color: #efefef;
        background: none;
        
    }


    nav a:hover {
        text-decoration: underline;
    }


    #menu li.active a {
        font-weight: 700;
        text-decoration: underline;
    }


    .title h1 {
        font-size: 3em;
    
}

    .text-wrapper {
        width: 50%;
}

    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside { 
        position: absolute;
        background: none;
        opacity: 1;
        width: 100%;
        z-index: 99;
    }



@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1140px - 10%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}